/* src/App.css */

button {
    background: transparent
  }
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5b5858;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: rgb(15, 248, 100);
}

.App-header h1 {
    font-size: 2em;
}

.App-header img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.App-header button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.App-header button:hover {
    background-color: #21a1f1;
}

