/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333; /* Darker text color for better contrast */
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: #000000; /* Lighter gray background */
  overflow: hidden;
}

.top-controls {
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
}

#volume-control,
#playback-control {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

#volume-control {
  border-right: 1px solid #ccc;
}

.favorites-section {
  width: 100%;
  overflow-y: auto;
  padding-bottom: 20px; /* Extra padding at the bottom */
  box-sizing: border-box;
}

h2 {
  color: #333; /* Darker text color for better contrast */
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}

/* Remove conflicting styles */
.speakers-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.speaker-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
}

.speaker-item.selected {
  border-color: #4caf50;
}

.speaker-info {
  font-size: 18px;
  margin-bottom: 10px;
}

.speaker-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select-speaker-button,
.group-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.select-speaker-button.selected {
  background-color: #4caf50;
  color: white;
}

.select-speaker-button {
  background-color: #008cba;
  color: white;
  border: none;
}

.select-all-button {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.controls button {
  padding: 10px 20px;
  font-size: 16px;
}

#volume-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #ccc;
}

#volume-fill {
  height: 100%;
  background-color: #4caf50;
}
