.speaker-controls {
  display: flex; /* Arrange buttons in a horizontal row */
  flex-direction: row; /* Explicitly arrange child elements in a row */
  align-items: center; /* Vertically center buttons */
  justify-content: center; /* Optional: Distribute space between buttons */
  margin-top: 5px; /* Ensure spacing from other content */
  width: 100%; /* Adjust to ensure it spans sufficient width */
  gap: 5px; /* Add spacing between buttons */
  padding: 0 20px;  
}


.volume-minus-button,
.volume-plus-button,
.select-speaker-button {
  margin-left: 15px; /* Space between select and plus button */
  margin-right: 15px; /* Optional: Add symmetry (space on both sides of select button) */
  display: inline-block; /* Prevent block-level behavior */
  padding: 5px 15px; /* Set button size */
  cursor: pointer;
  background-color: #000000;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 4px;
  margin: 0; /* Add horizontal spacing between buttons */
  font-size: 14px;
}

.select-speaker-button.selected {
  background-color: #1890ff;
  color: #fff;
}

.speaker-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex; /* Make content layout horizontal */
  flex-direction: column; /* Arrange inner items vertically */
 }

.speaker-info {
  font-size: 16px;
  margin-bottom: 5px;
}

.volume-display {
  margin-left: 10px;
  font-size: 14px;
}
